<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns:button="http://www.w3.org/1999/html"
      xmlns:form="http://www.w3.org/1999/html">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Forum</title>
</head>
<body>
<!--JQuery-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<!--Navigation Bar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/discussion}">Discussion</a>
            </li>
        </ul>

        <ul class="navbar-nav mr-0" th:align="right">
            <li class="nav-item active" sec:authorize="!isAuthenticated()">
                <a class="nav-link" href="/login">Sign In <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>

<!--Button for collapse-->
<div th:align="right" class="mr-4">
    <button type="button" class="btn btn-outline-success" data-toggle="collapse" data-target="#newDiscussion"
            data-whatever="@getbootstrap">Add comment
    </button>
</div>

<!--Collapse Form - new comment-->
<div class="collapse" id="newDiscussion">
    <div class="card card-body">
        <form method="post" class="container" th:action="@{'/topic/' + ${topic.id}}">
            <div class="form-group">
                <label for="text">Comment</label>
                <textarea class="form-control" id="text" name="text"></textarea>
            </div>
            <input type="submit" class="btn btn-success" value="Add"/>
        </form>
    </div>
</div>

<h1 th:text="'Theme: ' + ${topic.theme}" th:align="center"></h1>
<h3 th:align="center"><p th:text="'Description: ' + ${topic.description}"/></h3>

<!--Table for comments-->
<div class="card container" th:each="comment : ${comments}">
    <div class="card-body" th:text="${comment.text}">
    </div>
</div>

</body>
</html>